* {
  box-sizing: border-box;
 
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    
}

body {
  background-image: url('https://media.istockphoto.com/photos/the-perfect-setting-to-complete-work-picture-id1251629816?b=1&k=20&m=1251629816&s=170667a&w=0&h=HFCKUXMAXu_gsKwAaVJ5Yfc5CpXhkok4Nu1KigsAXIQ=');
  background-repeat: repeat-y;
  background-size: 1350px;

}
ul{
  display: flex;
}
ul>h1{
position: relative;
right: 80px;
}
footer{
  padding: 10px;
  
}

.t{
  color: #F5F5DC	;
  padding: 10px;
}

ul{
  display: flex;
}

li> img{
flex-direction: row;
}
